header {
  text-align: center;
}
body {
  background-color: lightblue;
}
img {
  width: 300px;
}
.about {
  text-align: center;
}
.column {
  width: 30%;
  float: left;
  text-align: center;
  height: 500px;
  background-color: blue;
  margin:10px;

}
